services:
  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    env_file:
      - ./frontend/.env.local
    ports:
      - "${VUE_APP_FRONTEND_PORT}:80"
  api:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    links:
      - "db:database"
    env_file:
      - ./backend/.env
    ports:
      - "${API_PORT}:8080"
    depends_on:
      db:
        condition: service_healthy
  db:
    build:
      context: ./backend/
      dockerfile: database.dev.Dockerfile
    restart: always
    shm_size: 128mb
    env_file:
      - ./backend/.env.database
    ports:
      - "${POSTGRES_PORT}:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s