h2 {
    margin-bottom: 30px;
}

.contact {
    
}

#contact-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4%;
    background-color: #464646;
    border-radius: 25px;
}

#contact-content img {
    display: inline-block;
    height: 200px;
    width: auto;
    margin-bottom: 35px;
    border-radius: 50%;
}

#contact-content p {
    margin-bottom: 15px;
}

#links ul {
    margin-top: 20px;
    list-style: none;
}

#links ul li {
    display: inline-block;
    margin: 0 35px;
}

#links ul li a{
    color: #fff;
}

a i:hover {
    color: #c0c0c0;
}
