footer {
    height: 5%;
    width: 100%;
    padding: 1.5%;
    padding-bottom: 4.3%;
    background-color: #2f88bb;
    text-align: center;
    z-index: 20;
    position: relative;
}

footer ul {
    list-style: none;
}

footer ul li {
    display: inline-block;
    margin: 0 35px;
}

footer ul li a{
    color: white;
}

footer a i:hover {
    color: #c0c0c0;
}