.home-background {
    background-image: linear-gradient(rgba(63, 63, 63, 0.7), rgba(63, 63, 63, 0.7)), url(../images/computer_background.jpg);
    background-size: cover;
    background-position: center;
  }

  #home-intro {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }

  #home-text {
    width: 700px;
    margin: 30px auto 0 auto;
}

  #home-links {
      margin-top: 45px;
  }

  #home-links ul li {
    margin: 5px 25px;
    display: inline-block;
  }

  ul {
    list-style-type: none;
  }