header {
  width: 100vw;
  height: 10vh;
  /*
  height: 87px;
  display: flex;
  justify-content: center;*/
}

#logo img {
    float: left;
}

ul {
    list-style: none;
}

nav {
  padding: 30px;
  background-color: #2f88bb;
  padding-bottom: 57px;
}

#main-nav {
    float: right;
}

#main-nav li {
    display: inline-block;
    margin: 0 15px;
}

#main-nav li a {
  font-weight: 600;
  padding-bottom: 29px;
  color: white;
  text-decoration: none;
  transition: background-color 0.2s, border 0.2s;
}

#main-nav li a:hover {
  border-bottom: 3px solid #fff;
}

#main-nav li a.router-link-exact-active {
  color: #464646;
}