#resume-section {
    text-align: right;
    margin-right: 16%;
}

#resume-section p {
    font-weight: 700;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    width: 400px;
    height: auto;
    padding-bottom: 15px;
    background-color: #555555;
    margin: 30px 20px;
    float: left;
    z-index: 10;
    position: relative;
}

a {
    color: #fff;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 2px 16px;
    z-index: 1;
}

.clear {
    clear: both;
}